body {
  width: 100%;
  max-height: 100vh;
  background-color: lavender;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 450px;
  padding: 20px;
  border-radius: 15px;
  background-color: #555;
}

.screen {
  width: 100%;
  height: 30px;
  background-color: #333;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: right;
  padding: 3px 8px;
  border-radius: 5px;
  font-weight: 700;
}

.buttonContainer {
  /* width: 100%; */
  /* height: 20px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.button {
  display: grid;
  grid-template-columns: 25, 25, 25, 25;
  font-size: 20px;
  width: 150px;
  margin: 5px;
}

